# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.5

## Exercícios Cap02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros = [1,2,3,4,5,6,7,8,9,10]
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
objetos = [1, "bobby", 'outro cara', {"dicionario":"12"}, 12]
objetos

[1, 'bobby', 'outro cara', {'dicionario': '12'}, 12]

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
st1 = "Douglas "
str2 = "Maia"
str3 = st1 + str2 
str3

'Douglas Maia'

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
exTupla = (1, 2, 2, 3, 4, 4, 4, 5)
exTupla.count(4)

3

In [11]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicVazio = {}
print(dicVazio)

{}

In [13]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicDoug = {12:"primeira", 13: "segunda",  14: "terceira"}
print(dicDoug)

{12: 'primeira', 13: 'segunda', 14: 'terceira'}

In [21]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dicDoug[13]
dicDois = {15: "último"}
dicDois
dicDoug.update(dicDois)
dicDoug

{12: 'primeira', 13: 'segunda', 14: 'terceira', 15: 'último'}

In [23]:
dicDoug

{12: 'primeira', 13: 'segunda', 14: 'terceira', 15: 'último'}

In [26]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dic8Ex = {"um":"Master", "dois":["Learner","Estagiario","Sombra"],"três": [1,2]}
print(dic8Ex)

{'um': 'Master', 'dois': ['Learner', 'Estagiario', 'Sombra'], 'três': [1, 2]}

In [28]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
dic9Ex = ["mario", (1,23), {"ch1":"primeira chave", "ch2":"segunda chave"}, 12.34]
print(dic9Ex)

['mario', (1, 23), {'ch1': 'primeira chave', 'ch2': 'segunda chave'}, 12.34]

In [29]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:17]

'Cientista de Dado'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>